<template name="views_contracts">
    <div class="dapp-container contracts-box">

        <h1>{{i18n "wallet.contracts.contractTitle"}}</h1>

        <a href="{{pathFor route='deployContract'}}" class="wallet-box create">
            <i>+</i>{{i18n "wallet.contracts.deployNewContract"}}
        </a>
        <br>
        <hr>
        <h2 class="title-h2">{{i18n "wallet.contracts.customContracts"}}</h2>

        <p>{{i18n "wallet.contracts.description" }}</p>
        <div class="dapp-clear-fix"></div>

        <div class="wallet-box-list">
        {{#each customContracts}}
            {{> elements_account account=_id isContract=true}}
        {{/each}}
        </div>

        <button class="wallet-box create add-contract">
            <i>+</i>{{i18n "wallet.contracts.addCustomContract"}}
        </button>
        <div class="dapp-clear-fix"></div>
        <hr>

        <h2 class="title-h2">{{{i18n "wallet.tokens.title"}}}</h2>

        <p>
            {{{i18n "wallet.tokens.description"}}}
        </p>

        <div class="dapp-clear-fix"></div>

        <div class="wallet-box-list">
        {{#each tokens}}
            {{> elements_tokenBox}}
        {{/each}}
        </div>

        <button class="wallet-box create add-token">
            <i>+</i>{{i18n "wallet.app.buttons.addToken"}}
        </button>

    </div>
</template>