body .n-new-thumb > span.img0{
    background-image: url("images/0.png");
}
body .n-new-thumb > span.img1{
    background-image: url("images/1.png");
}
body .n-new-thumb > span.img2{
    background-image: url("images/2.png");
}
body .n-new-thumb > span.img3{
    background-image: url("images/3.png");
}
body .n-new-thumb > span.img4{
    background-image: url("images/4.png");
}
body .n-new-thumb > span.img5{
    background-image: url("images/5.png");
}
body .n-new-thumb > span.img6{
    background-image: url("images/6.png");
}
body .n-new-thumb > span.img7{
    background-image: url("images/7.png");
}
body .n-new-thumb > span.img8{
    background-image: url("images/8.png");
}
body .n-new-thumb > span.img9{
    background-image: url("images/9.png");
}
body .n-new-thumb > span.img10{
    background-image: url("images/10.png");
}
body .n-new-thumb > span.img11{
    background-image: url("images/11.png");
}
body .n-new-thumb > span.img12{
    background-image: url("images/12.png");
}
body .n-new-thumb > span.img13{
    background-image: url("images/13.png");
}
body .n-new-thumb > span.img14{
    background-image: url("images/14.png");
}
body .n-new-thumb > span.img15{
    background-image: url("images/15.png");
}
body .n-new-thumb > span.img16{
    background-image: url("images/16.png");
}
body .n-new-thumb > span.img17{
    background-image: url("images/17.png");
}
body .n-new-thumb > span.img18{
    background-image: url("images/18.png");
}
body .n-new-thumb > span.img19{
    background-image: url("images/19.png");
}
body .n-new-thumb > span.img20{
    background-image: url("images/20.png");
}
body .n-new-thumb > span.img21{
    background-image: url("images/21.png");
}
body .n-new-thumb > span.img22{
    background-image: url("images/22.png");
}
body .n-new-thumb > span.img23{
    background-image: url("images/23.png");
}
body .n-new-thumb > span.img24{
    background-image: url("images/24.png");
}
body .n-new-thumb > span.img25{
    background-image: url("images/25.png");
}
body .n-new-thumb > span.img26{
    background-image: url("images/26.png");
}
body .n-new-thumb > span.img27{
    background-image: url("images/27.png");
}
body .n-new-thumb > span.img28{
    background-image: url("images/28.png");
}
body .n-new-thumb > span.img29{
    background-image: url("images/29.png");
}
